
block content
  script(src ='/socket.io/socket.io.js')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  div(id = 'container')
  script(src = '/javascripts/ander.js')
  link(href='/css/bootstrap.min.css', rel="stylesheet", type="text/css")
